svg {
  display: block;
  z-index: 100;
  padding: 20px;
}

.grid {
  stroke: #9A8B7A;
  stroke-width: 1px;
  fill: #CF7D1C;
}

.arc {
  stroke: #9A8B7A;
  fill: none;
}

.node {
  fill: #EBD8C1;
  stroke: #9A8B7A;
  stroke-width: 1px;
}

circle.active {
  fill: #FE9922;
}

path.active {
  stroke: #FE9922;
}

circle.source {
  fill: #93C464;
}

circle.target {
  fill: #41A368;
}

/* Hover container */
.hoverContainer {
  position: fixed;
  z-index: 9999;
  background: #add8e6;
  padding: 20px;
  display: none;
  border-radius: 5px;
}

.hoverContainer h3 {
  margin: 0 0 5px 0;
}

.hoverContainer p {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.hoverContainer ul {
  font-size: 14px;
  margin: 0;
}

.hoverContainer p#hover_notraffic {
  display: none;
}
